service: serverlessproject

plugins:
    - serverless-offline

provider:
    name: aws
    runtime: nodejs12.x
    profile: serverlessUser
    stage: dev
    region: eu-west-2
    environment:
        tableName: ${self:custom.tableName}
        tableName2: ${self:custom.tableName2}
    iamRoleStatements:
        - Effect: Allow
          Action:
              - dynamodb:*
              - sns:setSMSAttributes
              - sns:Publish
          Resource: "*"
    apiGateway:
        apiKeys:
            - FirstApiKey

custom:
    tableName: gigData
    tableName2: venueData

functions:
    getAllGigData:
        handler: lambdas/endpoints/getAllGigData.handler
        events:
            - http:
                  path: /get-gig-data
                  method: GET
                  cors: true
                  private: true
    getGigData:
        handler: lambdas/endpoints/getGigData.handler
        events:
            - http:
                  path: /get-gig-data/{id}
                  method: GET
                  cors: true
                  private: true
    getAllVenueData:
        handler: lambdas/endpoints/getAllVenueData.handler
        events:
            - http:
                  path: /get-venue-data
                  method: GET
                  cors: true
                  private: true
    getVenueData:
        handler: lambdas/endpoints/getVenueData.handler
        events:
            - http:
                  path: /get-venue-data/{id}
                  method: GET
                  cors: true
                  private: true
    createGigData:
        handler: lambdas/endpoints/createGigData.handler
        events:
            - http:
                  path: /create-gig-data/{id}
                  method: POST
                  cors: true
                  private: true
    updateGigData:
        handler: lambdas/endpoints/patchGigData.handler
        events:
            - http:
                  path: /patch-gig-data/{id}
                  method: PUT
                  cors: true
                  private: true
    queryGigs:
        handler: lambdas/endpoints/queryGigs.handler
        events:
            - http:
                  path: /query-gigs/{venue_id}
                  method: GET
                  cors: true
                  private: true
    queryGenre:
        handler: lambdas/endpoints/queryGenre.handler
        events:
            - http:
                  path: /query-genre/{genre}
                  method: GET
                  cors: true
                  private: true
    sendSMS:
        handler: lambdas/endpoints/sendSMS.handler
        events:
            - http:
                  path: /send-sms
                  method: POST
                  cors: true
                  private: true
    seedTable:
        handler: lambdas/endpoints/seedingTable.handler
        events:
            - http:
                  path: /seed/{tableNametype}
                  method: Get
                  #   cors: true
                  #   private: true

resources:
    Resources:
        MyDynamoDbTable:
            Type: AWS::DynamoDB::Table
            Properties:
                TableName: ${self:custom.tableName}
                AttributeDefinitions:
                    - AttributeName: id
                      AttributeType: S
                    - AttributeName: venue_id
                      AttributeType: S
                    - AttributeName: genre
                      AttributeType: S
                KeySchema:
                    - AttributeName: id
                      KeyType: HASH
                BillingMode: PAY_PER_REQUEST

                GlobalSecondaryIndexes:
                    - IndexName: venue_id-index
                      KeySchema:
                          - AttributeName: venue_id
                            KeyType: HASH
                      Projection:
                          ProjectionType: ALL
                    - IndexName: genre-index
                      KeySchema:
                          - AttributeName: genre
                            KeyType: HASH
                      Projection:
                          ProjectionType: ALL

        MyDynamoDbTable2:
            Type: AWS::DynamoDB::Table
            Properties:
                TableName: ${self:custom.tableName2}
                AttributeDefinitions:
                    - AttributeName: id
                      AttributeType: S
                KeySchema:
                    - AttributeName: id
                      KeyType: HASH
                BillingMode: PAY_PER_REQUEST
